html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--page-bg);
	color: var(--text-color);
    font-family: var(--font-main);
}

.main-title {
    text-align: center;
    padding: 30px 0;
    font-family: var(--font-main);
    font-size: clamp(52px, 8vw, 62px);
}

h2 .main-title-italic {
    font-family: var(--font-accent);
    font-size: clamp(58px, 6vw, 66px);
    line-height: 109%;

    &__shop {
        color: var(--accent);
    }
}

.main-description {
    font-family: var(--font-accent-2);
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
    color: var(--text-gray);
    text-align: center;

    // @media (max-width: 1220px) {
	// 	width: 600px;
	// }
}
