.banner-works {
    margin: 120px 20px 0 20px;

    &-container {
        display: flex;
        justify-content: space-between;
        background-color: var(--color-blue);
        height: auto;
        width: 100%;
        padding: 20px;
        border-radius: 48px;
        align-items: center;
    
        @include mobile {
            padding: 60px 20px;
            flex-direction: column;
            align-items: center;
        }
    }

    &-title {
        text-align: center;
        font-family: var(--font-main);
        font-size: clamp(64px, 8vw, 112px);
        color: var(--color-main);
        padding-left: 20px;
        padding-top: 20px;

        span {
            font-family: var(--font-accent);
            font-size: clamp(50px, 8vw, 109px);
            line-height: 109%;
        }
    
        @include mobile {
            padding: 0 0 20px 0;
        }
    }

    &-left {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: flex-start;
    }

    &-img {
        width: 636px;
        height: auto;
        
        @include mobile {
            display: none;
        }
    }
}