.flower-block {
    padding-top: 80px;

    &-container, &-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.flower-banner {
    padding-top: 40px;
}