.footer {
	padding: 120px 0 30px;
	font-size: 32px;
    color: #fff;
}

.footer-back {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: var(--accent);
    min-height: 360px;
    margin-top: 60px;
	border-bottom-left-radius: 46px;
    border-bottom-right-radius: 46px;
}

.footer-left {
	display: flex;
    flex-direction: column;
	padding-left: 40px;
	padding-top: 30px;
}

.footer-right {
	display: flex;
    flex-direction: column;
	position: relative;
	width: 50%;
	min-height: 600px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.logo-big {
	width: 480px;
	height: auto;
	padding-bottom: 30px;
}

.footer-nav-list {
	display: flex;
	flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.footer-nav-list_link {
	font-family: var(--font-accent-3);
	font-weight: 400;
    font-size: 32px;
    letter-spacing: 0;
    color: var(--color-main);
    transition: color 0.2s ease-in-out;
	cursor: pointer;
}

.footer-bottom-facebook {
	position: absolute;
	right: 35%;
    bottom: 32%;
	width: 224px;
	height: 242px;
}

.footer-bottom-instagram {
	position: absolute;
    bottom: 328px;
    right: 0;
    width: 267px;
    height: 238px;
    rotate: 40deg;
}

.footer-bottom-pinterest {
	position: absolute;
    bottom: 9px;
    right: 0;
    width: 276px;
    height: 276px;
    rotate: 20deg;
}

.footer-bottom-twitter {
	position: absolute;
	bottom: 0;
	left: 126px;
	width: 224px;
	height: 224px;
}

.footer-bottom-tumblr {
	position: absolute;
	bottom: 14px;
	left: -130px;
	width: 248px;
	height: 170px;
	rotate: -20deg;
}
