.our-masters {
    margin: 60px 20px;

    &-back {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--accent);
        width: 100%;
        height: auto;
        padding: 30px 40px;
    }

    &-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 40px;
        margin-bottom: 40px;
    }

    &-ellipse {
        background-image: url(./../img/ellipse.svg);
        width: 100%;
        height: 158px;
        position: absolute;
        background-repeat: round;
        z-index: -2;

        &-top {
            top: -80px;
            rotate: 180deg;
        }

        &-bottom {
            rotate: 0;
            bottom: -80px;
        }
    }

    &__name {
        font-family: var(--font-main);
        font-size: 22px;
        padding-top: 28px;
        padding-bottom: 10px;
        color: var(--color-main);
    }

    &__description {
        font-family: var(--font-accent-2);
        font-size: 20px;
        font-weight: 200;
        font-style: italic;
        color: var(--color-pink);
    }

    &-font-2 {
        font-family: var(--font-accent);
        font-size: 64px;
        color: var(--color-main);
        line-height: 109%;
    }

    &-font-1 {
        font-family: var(--font-main);
        font-size: 78px;
        color: var(--color-main);
        line-height: 63%;
    }
}