.shop {
    padding-top: 60px;
}

.shop-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shop-title span {
    font-family: var(--font-accent);
    font-size: 66px;
    line-height: 109%;
    color: var(--accent);
}

.shop-item__style {
    font-family: var(--font-accent-2);
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
    text-align: center;
    color: var(--text-gray);
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    padding-top: 60px;
}

.shop-item {
    display: flex;
    max-width: 100%;
    flex: 0 0 22%;
    min-height: 1px;
    flex-direction: column;
    align-items: center;

    @include tablet {
        flex: 0 0 46%;
    }

    @include mobile {
        flex: 0 0 100%;
    }
}

.item__name {
    font-family: var(--font-main);
    font-size: 22px;
    padding-top: 28px;
    padding-bottom: 10px;

    &-1 {
        color: var(--color-green);
    }
    
    &-2 {
        color: var(--color-yellow);
    }
    
    &-3 {
        color: var(--color-blue);
    }
    
    &-4 {
        color: var(--accent);
    }

    @include mobile {
        font-size: 32px;
    }
}

a .shop-item__name {
    font-family: var(--font-main);
    font-size: 22px;
    padding-top: 28px;
    padding-bottom: 10px;
    text-decoration: none;
    color: var(--text-color);
}